<!DOCTYPE html>
<html>

<head>
    <title>Pokedex</title>
</head>

<body>
    <div>
        <img src="<%- img %>" alt="<%- name %>"><br>
        <strong>Name: </strong><%- name %><br>
            <strong>HP: </strong><%- hp %><br>
                <strong>XP: </strong><%- xp %><br>
                    <strong>Types(s): </strong><%- types %><br>
                        <strong>Weight: </strong><%- weight %><br>
                            <strong>Height: </strong><%- height %><br>
    </div>

    <br>

    <a href="<%- url %>">Back</a>
</body>

</html>